<md-content layout="column">
    <div virtual-scroll flex model="pages" scrollheight='100000' id="grid-container" ng-if="pages">
        <table id="virtul-scroll-grid-container" >
            <tbody class='virtul-scroll-grid-body'>
                <tr flex layout="row" ng-repeat="page in pages">
                    <td flex="20" ng-bind="::page.title"></td>
                    <td flex="20" ng-bind="::page.type"></td>
                    <td flex="20" ng-bind="::page.user"></td>
                    <td flex="20" ng-bind="::page.oldlen"></td>
                    <td flex="20" ng-bind="::page.newlen"></td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>
