#vertical-container {
    height: 500px;
    width: 100%;
    max-width: 100%;
}

.repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
}

md-content {
    margin: 16px;
}

md-virtual-repeat-container {
    border: solid 1px grey; }

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px;
    border-right: 1px solid #ddd;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}